<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.plugins.js') }}"></script>
    <script src="{{url_for('static', filename='js/tailwind.config.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/icon.ico')}}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <script>
      window.onload = () => {
        const elements = document.getElementsByClassName('nav_link');
        for (let i = 0; i < elements.length; i++) {
          let el = elements[i].href.split('/').slice(3);
          let route = ""
          for (let j = 0; j < el.length; j++) {
            route += "/" + el[j];
          }
          if (route == window.location.pathname) {
            elements[i].classList.add('md:text-blue-700');
          }
        }
      }
    </script>
    {% endblock %}
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <script>alert("{{message}}");</script>
    {% endfor %}
  {% endif %}
{% endwith %}
<body class="grid min-h-screen grid-rows-layout">
    <nav class="mt-4 bg-white px-2 py-2.5 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <div class="flex gap-4 items-center">
            <img class="w-20" src="{{url_for('static', filename='assets/Painter.png')}}" alt="Logo">
            <a href="{{url_for("invoices")}}" class="text-4xl font-semibold">Pinturas Jhon</a>
          </div>
          <div class="w-full block w-auto">
            <ul class="flex flex-row space-x-8 mt-0 text-xl font-medium">
              <li>
                <a class="block rounded bg-transparent nav_link" href="{{url_for('invoices')}}">Generar Factura</a>
              </li>
              <li>
                <a class="block rounded bg-transparent nav_link" href="{{url_for('invoice_query')}}">Consultar Factura</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer class="m-auto text-lg">
        {% block footer %}
        <span>&copy; Copyright 2022 by Alejandro Giraldo Herrera.</span>
        {% endblock %}
    </footer>
</body>
</html>