<main>
  <nav>
      <div class="nav-container">
          <div class="left">
              <img class="w-24" src="../assets/icon.png" alt="Logo" />
              <a href="/">Pinturas Jhon</a>
          </div>
          <div class="w-auto">
              <ul>
                  <li>
                      <a routerLink="/invoice" routerLinkActive="text-blue-700" class="nav-link">Generar Factura</a>
                  </li>
                  <li>
                    <a routerLink="/budget" routerLinkActive="text-blue-700" class="nav-link">Generar Presupuesto</a>
                </li>
                  <li>
                      <a routerLink="/querys" routerLinkActive="text-blue-700" class="nav-link">Consultar Factura</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <router-outlet></router-outlet>

  <footer>
    <span>&copy; Copyright 2022 by Alejandro Giraldo Herrera.</span>
  </footer>
</main>
