<nav>
  <div class="nav-container">
      <div class="left">
          <img class="w-24" src="../assets/icon.png" alt="Logo" />
          <a href="/">Pinturas Jhon</a>
      </div>
      <div class="w-auto">
          <ul>
              <li>
                  <a routerLink="/create" routerLinkActive="text-blue-700" class="nav-link">Generar Factura</a>
              </li>
              <li>
                  <a routerLink="/querys" routerLinkActive="text-blue-700" class="nav-link">Consultas</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
