<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/tailwind.js"></script>
    <script src="{{url_for('static', filename='js/tailwind.config.js')}}"></script>
    
    <script>
        function onLoad(){
            const element = document.getElementById('content');
            const options = {
                filename: '{{ invoice_no }}',
                html2canvas: { scale: 2 },
                margin: 1
            };
            html2pdf().set(options).from(element).save();
        }
        
        window.onload = onLoad;

    </script>
    <title>{{invoice_no}}</title>
</head>
<body>
    
</body>
</html>
