<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind.plugins.js') }}"></script>
    <script src="{{url_for('static', filename='js/tailwind.config.js')}}"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/icon.ico')}}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    <script>
      window.onload = () => {
        const elements = document.getElementsByClassName('nav_link');
        for (let i = 0; i < elements.length; i++) {
          let el = "/" + elements[i].href.split('/')[3];
          if (el == window.location.pathname) {
            elements[i].classList.add('md:text-blue-700');
          }
        }
      }
    </script>
    {% endblock %}
</head>
<body class="grid min-h-screen grid-rows-layout">
    <nav class="mt-4 bg-white px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="{{url_for("invoices")}}" class="flex items-center">
              <span class="text-4xl font-semibold">Pinturas Jhon</span>
          </a>
          <div class="w-full md:block md:w-auto">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-xl md:font-medium">
              <li>
                <a class="block py-2 pr-4 pl-3 rounded md:bg-transparent md:p-0 nav_link" href="{{url_for('invoices')}}">Generar Factura</a>
              </li>
              <li>
                <a class="block py-2 pr-4 pl-3 rounded md:bg-transparent md:p-0 nav_link" href="/">Consultar Factura</a>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    <main>{% block content %}{% endblock %}</main>
    <footer class="m-auto text-lg">
        {% block footer %}
        <span>&copy; Copyright 2022 by Alejandro Giraldo Herrera.</span>
        {% endblock %}
    </footer>
</body>
</html>