<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

  <section class="client">
      <div>
        <label for="doc_type" class="text-sm text-gray-500">Tipo de PDF:</label>
        <select formControlName="doc_type" class="select" [ngClass]="selectIsValid()" aria-label="Default select example">
          <option>Seleccione el tipo</option>
          <option value="invoice">Factura</option>
          <option value="budget">Presupuesto</option>
        </select>
      </div>
    <app-date-picker class="mb-5" controlName="date" label="Fecha:" (inputChange)="onFormValue($event)"></app-date-picker>
      <app-date-picker class="mb-5" controlName="expiration_date" label="Fecha de vencimiento:" (inputChange)="onFormValue($event)"></app-date-picker>
      <app-input 
        type="text" 
        name="client_name" 
        label="Nombre" 
        controlName="client_name" 
        [controlValue]="formControls.client_name[0]"
        [controlValidators]="formControls.client_name[1]"
        (inputChange)="onFormValue($event)"></app-input>
      <app-input 
        type="tel" 
        name="client_phone" 
        label="Celular" 
        controlName="client_phone" 
        [controlValue]="formControls.client_phone[0]"
        [controlValidators]="formControls.client_phone[1]"
        (inputChange)="onFormValue($event)"></app-input>
      <app-input 
        type="tel" 
        name="client_document" 
        label="Documento" 
        controlName="client_document" 
        [controlValue]="formControls.client_document[0]"
        [controlValidators]="formControls.client_document[1]"
        (inputChange)="onFormValue($event)"></app-input>
      <app-input 
        type="tel" 
        name="client_address" 
        label="Dirección" 
        controlName="client_address" 
        [controlValue]="formControls.client_address[0]"
        [controlValidators]="formControls.client_address[1]"
        (inputChange)="onFormValue($event)"></app-input>
  </section>

  <section class="works">
    <div class="works-container" formArrayName="works">
      <div *ngFor="let work of worksArray.controls; index as i" class="flex flex-col bg-gray-200 rounded-md shadow-md px-5 py-4">
          <p class="pb-4">Trabajo #{{i+1}}</p>
          <app-input type="text"
          name="concept"
          controlName="concept"
          label="Concepto"
          [controlValue]="formWorkControls.concept[0]"
          [controlValidators]="formWorkControls.concept[1]"
          (inputChange)="onWorkFormValue($event, i)"></app-input>
          <app-input type="number"
          name="price"
          controlName="price"
          label="Valor €"
          [controlValue]="formWorkControls.price[0]"
          [controlValidators]="formWorkControls.price[1]"
          (inputChange)="onWorkFormValue($event, i)"></app-input>
          <app-input type="number"
          name="quantity"
          controlName="quantity"
          label="Cantidad"
          [controlValue]="formWorkControls.quantity[0]"
          [controlValidators]="formWorkControls.quantity[1]"
          (inputChange)="onWorkFormValue($event, i)"></app-input>
          <button 
            [ngClass]="{
              'invisible': i == 0, 
              'bg-red-600 hover:bg-red-700': !(i==0)
            }"
            type="button"
            class="button px-2 py-1 text-xs mx-auto" (click)="removeWork(i)">Eliminar trabajo</button>
        </div>
      </div>
  </section>

  <div class="col-start-2 col-end-2 flex justify-center gap-16">
    <button type="button" class="button px-5 py-2.5 bg-blue-600 hover:bg-blue-700" (click)="pushWork(createWork())">Agregar trabajo</button>
    <button type="submit" class="button px-5 py-2.5 bg-green-500 hover:bg-green-600">Generar Factura</button>
  </div>
</form>
